/* Tile sizes */

a {
  color: #A0AB98;
}
a:hover {
  color: #dbdbdb;
}

blockquote {
  background: #E0E0E0;
  border-left: 5px solid #4D4A4A;
  font-family: 'Titillium Web', sans-serif;
}
.overlay {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.85)), color-stop(100%, rgba(0, 0, 0, 0.85)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9000000', endColorstr='#d9000000', GradientType=0);
  /* IE6-9 */
}
header {
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
}
header .row {
  height: 100%;
}
header .row .logo {
  display: block;
  -webkit-transform: rotate(333deg);
}
header .row div {
  height: 100%;
}
footer {
  padding: 15px 0;
  border-radius: 0;
  border-top: 2px solid #555F4D;
  background-color: #4f4f4f;
  margin-top: 15px;
  color: #fff;
}


.navbar {
  border-radius: 0;
  border: none;
  border-bottom: 5px solid #333333;
  border-bottom: 2px solid #555F4D;
  background-color: #4f4f4f;
}
.navbar #claim {
  color: #A0AB98;
  font-family: monospace;
  font-weight: bold;
  padding-left: 10px;
}

/*.navbar .nav.icons {
  font-size: 24px;
}
.navbar .nav.icons li > a {
  padding-top: 13px;
  padding-bottom: 13px;
}
.navbar .lang-selection li a {
  outline: 0;
  color: #777;
  text-decoration: line-through;
}
.navbar .lang-selection li a:hover {
  color: #777;
}
.navbar .lang-selection li a.active {
  padding-bottom: 11px;
  border-bottom: 4px solid #999;
  color: #ccc ;
  text-decoration: none;
}

*/
#main_container.container {
/*  border: 1px solid #ededed;
  padding: 19px 19px 0 19px;
  margin: 20px auto;
  background-color: #ffffff;*/
}

#main_container .row-first{
  display: none; 
}
#main_container .row{ 
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #555F4D;
}

h1 {
  color: #D3D3D3;
  font-weight: bold;
  margin-top: 0;
}


/*.container .row.simple[role=main] {
  background: #eeeeee;
  border: 2px solid #860818;
}
.container .row.simple .tile {
  float: right !important;
  right: -15px;
}
.container .row.simple .tile_hover {
  display: block !important;
}
.container .row.simple .tile_hover.intro {
  height: 40px !important;
  bottom: 0 !important;
  top: auto !important;
}
.container .row.simple .tile_hover p {
  display: none !important;
}
*/
.container .tile {
  font-family: 'Titillium Web', sans-serif;
  float: left;
  position: relative;
}
.container .tile .post {
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.55);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.55);

  position: relative;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  background: #d0d0d0;
  background-clip: content-box;
  background-size: cover;
  background-position: center;

/*  -webkit-filter: grayscale(100%);
  filter: greyscale(100%);
*/}
.container .tile .post:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 1px 5px 0 rgba(127, 141, 117, 0.55);
  -moz-box-shadow: 0 1px 5px 0 rgba(127, 141, 117, 0.55);
  box-shadow: 0 1px 5px 0 #7F8D75;  
  
/*  -webkit-filter: grayscale(0%);
  filter: greyscale(0%);
*/}
.container .tile .post .tile_preview {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: table;
  color: #dbdbdb;
  font-weight: bold;
  text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);

  background: -moz-linear-gradient(top, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.45) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.45)), color-stop(100%,rgba(0,0,0,0.45)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.45) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.45) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.45) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.45) 100%);

}
.container .tile .post .tile_preview span {
  display: table-cell;
  vertical-align: middle;
}
.container .tile .post:hover .tile_hover {
  display: block;
}
.container .tile .post .tile_hover {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 40px;
  font-size: 14px;
  text-align: left;
  line-height: normal;
  padding: 10px;
}
.container .tile .post .tile_hover.intro {
  text-align: center;
  height: 100%;
  top: 0;
}
.container .tile .post .tile_hover.intro p {
  display: table-cell;
  margin: 0 0 10px;
  vertical-align: middle;
}
.container .tile .post .tile_hover time {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.container .tile .post.cat-how-to {
  background: #344658;
}
.container .tile .post.picture {
  padding: 0;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .tile .post.single_word {
  text-align: center;
}
.container .tile .post.two_words {
  text-align: center;
}
.container .tile .post.three_words {
  text-align: center;
}
.container .tile .post.youtube::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url("/img/icons/play.png") no-repeat 50% 50%;
}
@media (max-width: 767px) {
  .tile {
    padding: 5px 10px;
    height: 160px;
    line-height: 150px;
    width: 100%;
  }
  .tile .post .tile_preview {
    padding: 0 30%;
  }
  .tile .post .tile_hover.intro p {
    height: 137px;
  }
  .tile .post.picture,
  .tile .post.youtube {
    background-position: center center;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tile .post.single_word {
    font-size: 35px;
    height: 150px;    
    line-height: 150px;
  }
  .tile .post.two_words {
    font-size: 35px;
    line-height: 35px;
  }
  .tile .post.three_words {
    font-size: 30px;
    line-height: 35px;
  }

  body.travels .affix {
    left: 0;
    width: 100% !important;
    padding: 0 15px;
    position: fixed;
    bottom: 0;

  }
  body.travels .affix #travelmap {
    height: 150px;
  }

  body.travels .affix .nav {
    display:none;
  }



}
@media (min-width: 768px) {
  .tile {
    padding: 15px;
    height: 187px;
    width: 187px;
  }
  .tile .post .tile_hover.intro p {
    height: 137px;
  }
  .tile .post.single_word {
    font-size: 34px;
    line-height: 157px;
  }
  .tile .post.two_words {
    font-size: 37px;
    line-height: 40px;
  }
  .tile .post.three_words {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (min-width: 992px) {
  .tile {
    padding: 15px;
    height: 194px;
    width: 194px;
  }
  .tile .post .tile_hover.intro p {
    height: 144px;
  }
  .tile .post.single_word {
    font-size: 34px;
    line-height: 164px;
  }
  .tile .post.two_words {
    font-size: 37px;
    line-height: 40px;
  }
  .tile .post.three_words {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (min-width: 1200px) {
  .tile {
    padding: 15px;
    height: 234px;
    width: 234px;
  }
  .tile .post .tile_hover.intro p {
    height: 184px;
  }
  .tile .post.single_word {
    font-size: 35px;
    line-height: 204px;
  }
  .tile .post.two_words {
    font-size: 35px;
    line-height: 35px;
  }
  .tile .post.three_words {
    font-size: 32px;
    line-height: 45px;
  }
}
body {
  color: #D3D3D3;
  background-color: #303030;
  background-image: url("/img/dark-hardback.png");
  font-family: 'Open Sans', sans-serif;
}
body.simple {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.advance-link {
  width: 500px;
}
.advance-link img {
  width: 100%;
  box-shadow: 0 0 0 0px #000, 0px 0px 0px 13px #000;
}


.pager .next a, .pager .previous a {
    color: #555F4D;
    font-weight: bold;
    font-size:150%;
}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #A0AB98;
    border: 1px solid #555F4D;
    border-radius: 2px;
}

.pager .next a {
  float: right;
}
.pager .previous a {
  float: left;
}

path.jvectormap-region.jvectormap-element:hover {
    cursor: default !important;
}

#thumbs ul li.selected {
  border: 2px solid #fff;
}

.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}