<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:site_name" content="disfasia: incapable of speech" />

{% if page.page_type == 'album' %}
    {% assign page_id = page.url | split: '/' %}
    {% assign page_id = page_id[1] %}
    <title>{{ page.title }} ({{site.countries[page.country].name}})</title>
    <meta property="og:title" content="{{ page.title }} ({{site.countries[page.country].name}})">
    <meta property="og:description" content="Photoset: {{ page.title }} - {{ site.data[page_id].size }} photos">
    <meta property="og:image" content="{{ page.thumb | replace: '_n.', '_b.' }}">
{% elsif page.page_type == 'photo' %}
{% capture page_id %}{{ page.categories }}{% endcapture %}
{% capture page_parent %}/{{page_id}}{% endcapture %}
{% for post in site.posts %}{% if post.url == page_parent %}{% assign parent_post = post %}{%endif%}{% endfor %}
{% assign photo = site.data[page_id][page.n] %}
    <title>Photo #{{page.n}} of photoset: {{parent_post.title }}</title>
    <meta property="og:title" content="Photo #{{page.n}} of photoset: {{parent_post.title }}">
    <meta property="og:description" content="{{ photo.exif.model }} &mdash; {{photo.exif.fnumber}}; {{photo.exif.focallengthin35mmformat}}; {{photo.exif.exposuretime}}">
    <meta property="og:image" content="{{ site.data[page_id][page.n].img | replace: '_n.', '_b.' }}">
{% elsif page.page_type == 'index' %}
    <title>disfasia: incapable of speech</title>
    <meta property="og:title" content="disfasia: incapable of speech">
    <meta property="og:description" content="collection of pictures">
    <meta property="og:image" content="/img/logog.png">

{% endif %}

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Titillium+Web:400,700|Source+Code+Pro">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/pygments.css"> -->
    <!-- <link rel="stylesheet" href="/css/icomoon.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/tiles.css" />     -->

    <!-- <link rel="stylesheet" type="text/css" href="/css/travels.css" /> -->


    <link rel="stylesheet" type="text/css" href="/css/dy.css" />



    <link rel="stylesheet" type="text/css" href="/css/jquery-jvectormap-2.0.3.css" />


<link rel="stylesheet" href="/css/photoswipe.css"> 
<link rel="stylesheet" href="/css/default-skin/default-skin.css"> 

<script src="/js/photoswipe.min.js"></script> 
<script src="/js/photoswipe-ui-default.min.js"></script> 


    <link rel="icon" href="/favicon.png" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
