<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="" href="/">
                <img src="/img/logog.png" width="48" />
            </a>
            <span id="claim">
                incapable of speech
            </span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav icons">
                <li>
                    <a href="#">
                        <span class="icon-quill"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-image"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-film"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-console"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right lang-selection">
                <li>
                    <a class="active" name="!it" href="#!it">IT</a>
                </li>
                <li>
                    <a class="active" name="!en" href="#!en">EN</a>
                </li>
            </ul>
        </div><
        /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>