

<div class="tile">
    <a data-coords="{{post.coords.lat}},{{post.coords.lng}}" class="post {{ post.style }}" href="{{ post.url }}" style="background-image: url({{ post.thumb }})">
        <div class="tile_preview">
            <span{%if post.tile_text_extra_css%} style="{{post.tile_text_extra_css}}"{%endif%}>{{ post.title }}</span>
        </div>
{% comment %}

<!--         <div class="tile_hover overlay {% if post.intro %}intro{% endif %}">
            {% if post.intro %}
            <p>{{ post.intro }}</p>
            {% endif %}
            <time datetime="{{ post.date }}">{{ post.date }}</time>
        </div>
 -->
{% endcomment %}
    </a>
{% comment %}
<!--
    elsif post.style == 'youtube'
    <a class="post {{ post.style }}" href="/{{ post.permalink }}/" style="background-image:url({{ post.thumb }})" rel-video="{{ post.video }}">
        <div class="tile_hover overlay">
            <p>{{ post.intro }}</p>
            <time datetime="{{ post.date }}">{{ post.date }}</time>
        </div>
    </a>
    endif 
-->
{% endcomment %}

</div>
