{% if include.year %}
   {% assign post_style = "single_word" %}
   {% capture post_url %}/year/{{ include.year }}/{% endcapture %}
   {% assign post_title = include.year %}
   {% assign base_post_css = "simple_tile" %}
{% elsif include.country %}
   {% capture country_name %}{{ site.countries[include.country].name }}{% endcapture %}
   {% assign wordCount = country_name | split:" " | size %}
   {% if wordCount == 1 %}{% assign post_style = "single_word" %}{%endif%}
   {% if wordCount == 2 %}{% assign post_style = "two_words" %}{%endif%} 
   {% capture post_style %}{{ post_style }} flag flag-icon-background flag-icon-{{ include.country | downcase }}{% endcapture %}
   {% capture post_url %}/country/{{ site.countries[include.country].url }}{% endcapture %}
   {% assign post_title = site.countries[include.country].name %}
   {% assign base_post_css = "flag" %}
{% else %}
   {% assign post_style = post.style %}
   {% assign post_url   = post.url %}
   {% if post.tile_title %}
       {% assign post_title = post.tile_title %}
   {% else %}
       {% assign post_title = post.title %}
   {% endif %}
   {% assign post_thumb = post.thumb %}
   {% assign base_post_css = "simple_tile" %}
{% endif %}

<div class="tile">
    <a data-coords="{% if post.coords %}{{post.coords.lat}},{{post.coords.lng}}{% else %}{% for coord in post.mulitcoords %}{{ coord.lat}},{{coord.lng}};{%endfor%}{%endif%}" {% if include.country %}data-country="{{include.country}}"{%endif%}class="post {{ base_post_css }} {{ post_style }}" href="{{ post_url }}" style="{% if post_thumb %}background-image: url({{ post_thumb }}){% endif %}">
        <div class="tile_preview">
            <span{%if post.tile_text_extra_css%} style="{{post.tile_text_extra_css}}"{%endif%}>{{ post_title }}</span>
        </div>
{% comment %}

<!--         <div class="tile_hover overlay {% if post.intro %}intro{% endif %}">
            {% if post.intro %}
            <p>{{ post.intro }}</p>
            {% endif %}
            <time datetime="{{ post.date }}">{{ post.date }}</time>
        </div>
 -->
{% endcomment %}
    </a>
{% comment %}
<!--
    elsif post.style == 'youtube'
    <a class="post {{ post.style }}" href="/{{ post.permalink }}/" style="background-image:url({{ post.thumb }})" rel-video="{{ post.video }}">
        <div class="tile_hover overlay">
            <p>{{ post.intro }}</p>
            <time datetime="{{ post.date }}">{{ post.date }}</time>
        </div>
    </a>
    endif 
-->
{% endcomment %}

</div>
