<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body id="t_{{page.page_type}}">

	{% include header.html %}

    {{ content }}

    {% include scripts.html %}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <ul class="list-unstyled">
                <li><a href="/countries.html">{{ site.countries.size }} countries</a></li>
                <li><a href="/years.html">{{ site.years.size }} years</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
