---
page_type: album
layout: default
---

{% assign page_id = page.url | split: '/' %}
{% assign page_id = page_id[1] %}
{% assign photoNumber = 1 %} 
{% capture post_year %}{{ page.date | date: "%Y" }}{% endcapture %}


<div id="album_page" class="container">
    <div class="row album_info">
        <div class="col-xs-12 col-md-8">
            <h1>{{ page.title }}</h1>
            <span>{{site.countries[page.country].name}} &mdash; {{post_year}} &mdash; {{ site.data[page_id].size }} photos</span>
        </div>
        <div class="col-xs-12 col-md-4">
            <div id="world-map-markers" data-country="{{ page.country }}" data-lat="{{ page.coords.lat }}" data-lng="{{ page.coords.lng }}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="pswp__bg"></div>
                <div class="pswp__scroll-wrap">
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>
                    <div class="pswp__ui pswp__ui--hidden">

                        <div class="pswp__top-bar">
                            <div class="pswp__counter"></div>
                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                            <button class="pswp__button pswp__button--share" title="Share"></button>
                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                  <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div> 
                        </div>

                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>

                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>

                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-12">

            <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                {% for photo in site.data[page_id] %}
                <figure class="col-md-2 col-xs-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-title="{{ page.title }} - photo #{{ photoNumber }} " data-singleurl="{{site.url}}/{{ page_id}}/{{ photoNumber}}/">
                    <a href="{{photo.img}}" itemprop="contentUrl" data-size="{{ photo.w }}x{{ photo.h }}">
                        <img src="{{photo.thumb  | replace: '_s.','_q.' }}" itemprop="thumbnail" alt="xxx" />
                    </a>
                    <figcaption itemprop="caption description">{{ photo.exif.model }} &mdash; {%if photo.exif.fnumber%}{{photo.exif.fnumber}}; {%endif%}{%if photo.exif.focallengthin35mmformat%}{{photo.exif.focallengthin35mmformat}}; {%endif%}{%if photo.exif.exposuretime%}{{photo.exif.exposuretime}}; {%endif%} {%if photo.exif.iso%}ISO: {{photo.exif.iso}}; {%endif%} <a href="/{{page_id}}/{{photoNumber}}/">#{{photoNumber}} in {{ page.title }}</a></figcaption>
                </figure>
                {% assign photoNumber = photoNumber | plus: 1 %}
                {% endfor %}
            </div>

        </div>
    </div>  
</div>

