---
page_type: photo
layout: default
---
{% capture page_id %}{{ page.categories }}{% endcapture %}
{% capture page_parent %}/{{page_id}}{% endcapture %}
{% for post in site.posts %}{% if post.url == page_parent %}{% assign parent_post = post %}{%endif%}{% endfor %}
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }} {{ page_id }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>